.logo {
    width: 200px;
    height: 100%;
    /* border: 1px solid red; */
    float: left;
}

.da-header {
    /* background: #7078f7 !important; */
    padding: 0 !important;
}

.da-menu {
    float: left;
}

.logo-png {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.logo .user-info {
    float: left;
    color: #fff;
    margin-left: 15px;
}

.logo .ant-dropdown-link {
    cursor: pointer;
}